.preview {
    &_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__container {
            margin: 100px 0 0 100px;
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-family: "MontserratBold";
            h1 {
                font-size: 64px;
            }
        }

        &__description {
            font-family: "NotoSansRegular";
            font-weight: 400;
            font-size: 20px;
            width: 500px;
            height: 135px;

            .description_mark {
                &__blur {
                    position: absolute;
                    margin-top: 55px;
                    width: 125px;
                    height: 125px;
                    background: #605cea;
                    filter: blur(100px);
                }

                &__line {
                    position: absolute;
                    width: 140px;
                    margin-top: 158px;
                    border: 4px solid #ffffff;
                    transform: rotate(120.61deg);
                }
            }

            .description_text {
                position: absolute;
                width: 380px;
                margin: 145px 0 0 135px;
            }
        }

        &__image {
            margin-right: 176px;

            .glow {
                display: block;
                position: absolute;
                width: 300px;
                height: 300px;
                background: rgba(250, 0, 255, 0.8);
                filter: blur(120px);
                transform: rotate(-90.69deg);
                z-index: -1;
            }

            > img {
                width: 330px;
            }
        }
    }

    &_download {
        margin: 55px 165px 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            font-family: "MontserratBold";
            font-style: normal;
            font-size: 35px;
            line-height: 70px;
        }

        &__links {
            width: 350px;
            display: flex;
            justify-content: space-between;

            > .links_btn {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                > img {
                    width: 164px;
                }
            }

            > .links_btn:hover {
                transform: scale(1.1);
                transition: 1s;
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .preview {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 65px;

        &_content {
            &__container {
                margin: 0;
                margin-top: 25px;
            }

            &__title {
                max-width: 207px;
                line-height: 40px;

                h1 {
                    font-size: 32px;
                }
            }

            &__description {
                font-size: 16px;
                line-height: 21px;
                width: 210px;
                height: fit-content;

                > .description_mark {
                    display: none;
                }

                .description_text {
                    position: absolute;
                    width: 240px;
                    margin: 25px 0 0 0;
                }
            }

            &__image {
                margin-right: 0;
                margin-left: 35px;

                .glow {
                    display: block;
                    position: absolute;
                    right: 0;
                    left: 150px;
                    width: 300px;
                    height: 150px;
                    background: rgba(250, 0, 255, 0.8);
                    filter: blur(120px);
                    transform: rotate(-90.69deg);
                    z-index: -1;
                }

                > img {
                    width: 160px;
                }
            }
        }

        &_download {
            margin: 55px 0 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__title {
                font-size: 24px;
                line-height: 30px;
            }

            &__links {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                > .links_btn {
                    > img {
                        width: 185px;
                    }
                }

                > .links_btn:nth-child(1) {
                    margin-top: -35px;
                }

                > .links_btn:nth-child(2) {
                    margin-top: -35px;
                }

                > .links_btn:hover {
                    transform: scale(1.1);
                    transition: 1s;
                }
            }
        }
    }
}
